body {       
font-family:Tahoma;
font-size:12px;       
color:#000000;
background:#ffffff;
scrollbar-face-color : #66CCFF;
scrollbar-shadow-color : #336699;
scrollbar-highlight-color : #336699;
scrollbar-3dlight-color : #ffffff;
scrollbar-darkshadow-color : #ffffff;
scrollbar-track-color : #ffffff;
scrollbar-arrow-color : #336699;
}
.fecha {
font-family:Tahoma;
font-size:10px;       
font-weight:bold;
color:#ffffff;
}
.txt12td {
font-family:Tahoma;
font-size:14px;       
font-weight:bold;
color:#ffffff;
}
.txt11tdb {
font-family:Tahoma;
font-size:11px;       
font-weight:bold;
color:#ffffff;
}
.txt11td {
font-family:Tahoma;
font-size:11px;       
color:#aaaaaa;
}
.txtcopy {
font-family:verdana;
font-size:9px;
color:#aaaaaa;     
}
.txtnota {
font-family:verdana;
font-size:9px;
color:#999999;     
}
.txtcontenido {
font-family:verdana;
font-size:12px;
color:#006699;     
}
.txt12contenido{
font-family:verdana;
font-size:12px;
color:#003366;
}
.txt11titulo{
font-family:verdana;
font-size:11px;
color:#003366;
}
.txt9titulo{
font-family:verdana;
font-size:9px;
color:#003366;
}
.txt9contenido {
font-family:verdana;
font-size:9px;
color:#006699;     
}
 
.menu:link {
FONT: 11px/1.5 Tahoma; color:#fff; text-decoration:none; font-weight:bold;
}

.menu:visited {
FONT: 11px/1.5 Tahoma; color:#fff; text-decoration:none; font-weight:bold;
}

.menu:active {
FONT: 11px/1.5 Tahoma; color:#fff; text-decoration:none; font-weight:bold;
}

.menu:hover {
FONT: 11px/1.5 Tahoma; color:#fff; text-decoration:none; font-weight:bold;
}

.email:link {
FONT: 11px/1.5 Tahoma; color:#cccccc; text-decoration:none; font-weight:bold;
}

.email:visited {
FONT: 11px/1.5 Tahoma; color:#cccccc; text-decoration:none; font-weight:bold;
}

.email:active {
FONT: 11px/1.5 Tahoma; color:#cccccc; text-decoration:none; font-weight:bold;
}

.email:hover {
FONT: 11px/1.5 Tahoma; color:#003366; text-decoration:none; font-weight:bold;
}

.email2guestbook:link {
FONT: 9px/1.5 verdana; color:#aaaaaa; text-decoration:none;
}

.email2guestbook:visited {
FONT: 9px/1.5 verdana; color:#aaaaaa; text-decoration:none;
}

.email2guestbook:active {
FONT: 9px/1.5 verdana; color:#aaaaaa; text-decoration:none;
}

.email2guestbook:hover {
FONT: 9px/1.5 verdana; color:#003366; text-decoration:none;
}

.guestbook:link {
FONT: 10px/1.5 verdana; color:#003366; text-decoration:uncerline;
}

.guestbook:visited {
FONT: 10px/1.5 verdana; color:#aaaaaa; text-decoration:uncerline;
}

.guestbook:active {
FONT: 10px/1.5 verdana; color:#003366; text-decoration:uncerline;
}

.guestbook:hover {
FONT: 10px/1.5 verdana; color:#003366; text-decoration:underline;
}